Repository coopcycle/coopcycle-app, pull requests merged in 2025-05, with the labels that each got.

#1983 [PERTE-313] Use new TaskList update endpoint at `/api/task_lists/set_items/{date}/{username}`
  src/components/TaskListItem.js
  src/navigation/courier/barcode/Barcode.js
  src/navigation/dispatch/AssignTask.js
  src/navigation/dispatch/TaskList.js
  src/navigation/dispatch/UnassignedTasks.js
  src/redux/Dispatch/actions.js
  src/redux/Dispatch/selectors.js
  src/redux/api/slice.js
  src/redux/logistics/__tests__/taskListEntityReducers.test.js
  src/redux/logistics/__tests__/uiReducers.test.js
  src/redux/logistics/taskEntityReducers.js
  src/redux/logistics/taskListEntityReducers.js
  src/redux/logistics/uiReducers.js
  src/shared/src/logistics/redux/__tests__/selectors.test.js
  src/shared/src/logistics/redux/__tests__/taskListEntityUtils.test.js
  src/shared/src/logistics/redux/__tests__/taskUtils.test.js
  src/shared/src/logistics/redux/hooks/useSetTaskListItems.js
  src/shared/src/logistics/redux/index.js
  src/shared/src/logistics/redux/selectors.js
  src/shared/src/logistics/redux/taskListEntityUtils.js
  src/shared/src/logistics/redux/taskUtils.js
  src/utils/alert.js
Labels: Improve Performance, Dispatch Interface, Cooperative: Transversal Concepts

#1989 [PERTE-333] Use logistics actions on task view
  e2e/dispatch/success__complete_task.spec.js
  e2e/dispatch/success__create_delivery.spec.js
  e2e/dispatch/success__start_task.spec.js
  e2e/dispatch/utils.js
  e2e/utils.js
  src/components/TaskListItem.js
  src/components/TaskMarker.js
  src/navigation/task/Complete.js
  src/redux/Courier/__tests__/taskActions.test.js
  src/redux/Courier/__tests__/taskEntityReducer.test.js
  src/redux/Courier/index.js
  src/redux/Courier/taskActions.js
  src/redux/Courier/taskEntityReducer.js
  src/redux/Dispatch/actions.js
  src/redux/logistics/__tests__/taskEntityReducers.test.js
  src/redux/logistics/__tests__/uiReducers.test.js
  src/redux/logistics/dateReducer.js
  src/redux/logistics/taskEntityReducers.js
  src/redux/logistics/taskListEntityReducers.js
  src/redux/logistics/tourEntityReducers.js
  src/redux/logistics/uiReducers.js
  src/redux/middlewares/CentrifugoMiddleware/actions.js
  src/shared/src/logistics/redux/__tests__/taskEntityReducers.test.js
  src/shared/src/logistics/redux/__tests__/taskListEntityReducers.test.js
  src/shared/src/logistics/redux/actions.js
  src/shared/src/logistics/redux/hooks/useSetTaskListItems.js
  src/shared/src/logistics/redux/taskListEntityReducers.js
  src/shared/src/logistics/redux/uiReducers.js
  src/shared/src/utils.js
Labels: bug, Dispatch Interface, Cooperative: Transversal Concepts

#1985 [PERTE-233] Refactor dispatch screen as a single list
  e2e/02_courier.spec.js
  e2e/dispatch/success__assign_unassign_tasks.spec.js
  e2e/dispatch/success__bulk_assign_tasks.spec.js
  e2e/dispatch/success__complete_task.spec.js
  e2e/dispatch/success__start_task.spec.js
  e2e/dispatch/utils.js
  e2e/utils.js
  src/components/ItemsBulkFabButton.js
  src/components/TaskList.js
  src/components/TaskListItem.js
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/navigation/courier/TaskListPage.js
  src/navigation/dispatch/AllTasks.js
  src/navigation/dispatch/TaskLists.js
  src/navigation/dispatch/UnassignedTasks.js
  src/navigation/dispatch/components/GroupedTasks.js
  src/navigation/index.js
  src/navigation/navigators/DispatchNavigator.js
Labels: enhancement, Dispatch Interface, Cooperative: Transversal Concepts
